#registerlink{
    margin-top: -85px;
}
.bg{
    background-color: #17a2b8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#login-box{
    background-color: aliceblue;
    padding: 20px 20px 70px 20px;
    margin-top: 50px;
    border-radius:7px;
}